/*******************************************************************/
/*  Lukas Hezel
/*  02/27/2024
/*  Home-Base CSS Code
/*******************************************************************/
/* Base Framework */
html {
    font-size: 20px; 
    font-family: 'Gothic A1', sans-serif;
    background-color: #141414;
}
body {
    background-color: #141414;
} 

/*******************************************************************/
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #502574;
    z-index: 100;
    height: 10vh;
    display: flex;
    align-items: center;
}
h1 {
    width: 50vw;
    color: #ffffff;
    font-size: 3vw;
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: center;
}

/*******************************************************************/
/* Main */
main {
    position: fixed;
    top: 10vh;
    left: 10vw; 
    width: 90vw;
    height: 90vh; 
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color: #141414;
} 

/*******************************************************************/
/* Welcome Section */
section.welcome {
    display: block;
    width: auto;
    height: 90vh;
    background-image: url("../images/sploosh.jpg"); 
    background-size: cover;
    background-position: center;
}
h2.welcome {
    color: #ffffff;
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    font-size: 7vw;
    margin-top: 0;
}
p.welcome {
    color: #ffffff;
    padding-top: 10vh;
    padding-bottom: 7.5vh;
    padding-left: 30vw;
    padding-right: 15vw;
    font-size: 2.5vw;
}

/*******************************************************************/
/* Info Section */
section.info {
    display: block;
    width: auto;
    height: 100vh;
    background-color: #141414;
}
h2.info {
    color: #ffffff;
    width: 20vw;
    margin: 0;
    padding-left: 30vw;
    padding-top: 3vh;
    font-size: 2.5vw;
    text-align: center;
}
div.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
div.image {
    padding-right: 5vw;
}
img.selfie {
    height: 70vh;
    box-shadow: -1vw 1vw 0px 0px #502574;
}
p.info {
    color: #ffffff;
    width: 30vw;
    padding-left: 6vw;
    font-size: 1.5vw;
}
a.resume {
    color: #8940c5;
    text-decoration: none;
}
a.resume:hover {
    color: #502574; 
}

/*******************************************************************/
/* Project Section */
section.projects {
    display: block;
    width: auto;
    height: 90vh;
    background-color: #141414;
}
h2.projects {
    color: #ffffff;
    width: 20vw;
    margin: 0;
    padding-left: 30vw;
    padding-top: 3vh;
    font-size: 2.5vw;
    text-align: center;
}
div.projectrow {
    display: flex;
    align-content: center;
    padding-left: 15vw;
}
div.projectslot {
    color: #ffffff;
    height: 15vw;
    width: 18vw;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    margin-top: 3.2vw;
    margin-right: 3.2vw;
    background-color: #502574;
    text-align: center;
}
div.projectslot:hover {
    opacity: 0.7;
}
div#homebase.projectslot {
    display: flex;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    background-color: #5f4077;
    background-size: cover;
    background-position: center;
}
div#luma.projectslot {
    display: flex;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    background-color: #096c99;
    background-size: cover;
    background-position: center;
}
div#empty2.projectslot {
    display: flex;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
}
div#more.projectslot {
    display: flex;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
}

/*******************************************************************/
/* Project Pop-ups */
div.popup {
    display: none;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh; 
}
article.PU-Body {
    display: block;
    position: fixed;
    top: 10vh;
    left: 20vw; 
    width: 60vw;
    height: 90vh; 
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color: #141414;
    color: #ffffff;
}
h2.PU-head {
    font-size: 2.5vw;
    text-align: center;
}
p.PU-text {
    padding-left: 2vw;
    padding-right: 2vw;
}
a.PU-link {
    color: #0059ff;
}
a.PU-link:hover {
    color: #023faf;
}
div#homebasePU {
    background-color: #5f4077;
}
div#lumaPU {
    background-color: #096c99;
}
div.PUBack {
    display: block;
    position: fixed;
    top: 15vh;
    left: 10vw;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 6vw;
    border: 0.5vw solid #ffffff;
    background-color: #69696900;
}
p.PUBack {
    color: #ffffff;
    text-align: center;
    font-size: 1.85vw; 
    letter-spacing: 0.05em; 
    text-decoration: none;
}
div.PUBack:hover {
    background-color: #0000003b
}
/*******************************************************************/
/* Contact Section */
section.contact {
    display: block;
    width: auto;
    height: 90.5vh;
    background-color: #141414;
    align-items: center;
}
h2.contact {
    color: #ffffff;
    width: 20vw;
    margin: 0;
    padding-left: 30vw;
    padding-top: 3vh;
    font-size: 2.5vw;
    text-align: center;
}
div.externallink {
    display: flex;
    border-radius: 2vw;
    border: #502574;
    margin-top: 5vh;
    align-items: center;
    padding-left: 20vw;
}
a.externallink {
    width: 40vw;
    border-radius: 2vw;
    text-align: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    text-decoration: none;
    font-size: 1.8vw;
    color: #ffffff;
}
a#email.externallink {
    background-color: #742525;
}
a#email.externallink:hover {
    background-color: #551b1b; 
}
a#linkedin.externallink {
    background-color: #2a2574;
}
a#linkedin.externallink:hover {
    background-color: #1b184d; 
}
a#github.externallink {
    background-color: #6b2574;
}
a#github.externallink:hover {
    background-color: #48184e; 
}
a#handshake.externallink {
    background-color: #4b7425;
}
a#handshake.externallink:hover {
    background-color: #2b4215; 
}
/*******************************************************************/
/* Sidebar */
aside {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 10vw;
    height: 90vh;
    background-color: #141414;
}
div.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    margin: 1vw;
    background-color: #502574;
}
a.button {
    color: #ffffff;
    text-align: center;
    font-size: 1.85vw; 
    letter-spacing: 0.05em; 
    text-decoration: none;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
}
a.button:hover {
    background-color: #35184d; 
}
/*******************************************************************/
/* Footer */
footer {
    position: fixed;
    display: block;
    bottom: 1vh;
    left: 0;
    width: 10vw;
    background-color: #ffffff00;
    color: #c7c4d1;
    font-size: 10px;
    padding: 10px 0 0 0;
    text-align: center;
}

/*******************************************************************/