/*******************************************************************/
/* Base Framework */
html {
    font-size: 20px; 
    font-family: 'Gothic A1', sans-serif;
    background-color: #141414;
}
body {
    width: 85vw;
    background-color: #141414;
} 

/*******************************************************************/
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #833dbd;
    z-index: 100;
    height: 10vh;
    display: flex;
    align-items: center;
}
h1 {
    width: 50vw;
    color: #ffffff;
    font-size: 3vw;
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: center;
}

/*******************************************************************/
/* Main */
main {
    position: fixed;
    top: 10vh;
    left: 10vw; 
    width: 90vw;
    height: 90vh; 
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color: #141414;
} 

/*******************************************************************/
/* Welcome Section */
section.welcome {
    display: block;
    width: 100vw;
    height: 90vh;
    background-image: url("../images/sploosh.jpg"); 
    background-size: cover;
    background-position: center;
}
h2.welcome {
    color: #ffffff;
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 7vw;
    margin-top: 0;

}
p.welcome {
    color: #ffffff;
    padding-top: 10vh;
    padding-bottom: 7.5vh;
    padding-left: 30vw;
    padding-right: 15vw;
    font-size: 2.5vw;
}

/*******************************************************************/
/* Info Section */
section.info {
    display: block;
    width: 100vw;
    height: 90vh;
    background-color: #141414;
}
h2.info {
    color: #ffffff;
    margin-top: 0;
}
p.info {
    color: #ffffff;
}

/*******************************************************************/
/* Project Section */
section.projects {
    display: block;
    width: 100vw;
    height: 90vh;
    background-color: #686868;
}
h2.projects {
    color: #ffffff;
    margin-top: 0;
}
p.projects {
    color: #ffffff;
}

/*******************************************************************/
/* Contact Section */
section.contact {
    display: block;
    width: 100vw;
    height: 90.5vh;
    background-color: #141414;
}
h2.contact {
    color: #ffffff;
    margin-top: 0;
}
p.contact {
    color: #ffffff;
}

/*******************************************************************/
/* Sidebar */
aside {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 10vw;
    height: 90vh;
    background-color: #141414;
}
div.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    margin: 1vw;
    background-color: #833dbd;
  
}
a.button {
    color: #ffffff;
    text-align: center;
    font-size: 1.85vw; 
    letter-spacing: 0.05em; 
    text-decoration: none;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
}
a.button:hover {
    background-color: #6a2c9e; 
}
/*******************************************************************/
/* Footer */
footer {
    position: fixed;
    bottom: 1vh;
    left: 0;
    width: 10vw;
    background-color: #ffffff00;
    color: #c7c4d1;
    font-size: 10px;
    padding: 10px 0 0 0;
    text-align: center;
}

/*******************************************************************/